body {
	margin: 0;
	font-family: Helvetica;
}

#logo {
	height: 110px;
	width:  120px;
	display: block;
}

h2 {
	color: hotpink;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction:  column;
}